.back{
    background-color: antiquewhite;
}
.Chat {
    color: black;
    text-align: center;
}

.title{
    font-size: 70px;
}

.para{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.dark{
    color: white;
}

.darkBack{
    background-color: black;
}