.back{
    background-color: antiquewhite;
}
.Chat {
    color: black;
    text-align: center;
}

.title{
    font-size: 70px;
}

.subTitle{
    font-size: 45px;
}

.para{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.dark{
    color: white;
}

.darkBack{
    background-color: black;
}


.Tab{
    height: 500px;
    margin: 40px;
    animation-duration: 1s;
    animation-name: shrinkage;
}



@keyframes shrinkage {
    from{
        scale: 100%;
    }
    50%{
        scale : 10%;
    }

    to{
        scale: 100%;
    }
}


.TabAnim{
    height: 500px;
    margin: 40px;
    animation-duration: 1s;
    animation-name: shrinkage1;
}



@keyframes shrinkage1 {
    from{
        scale: 100%;
    }
    50%{
        scale : 10%;
    }

    to{
        scale: 100%;
    }
}

